* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    background-color: rgb(14, 46, 223);
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.header-text {
    font-size: 60px;
    color: white;
    font-weight: bolder;
}

.footer-text {
    color: white;
}

.manual-grid-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    gap: 10px;
}

.manual-grid-text {
    color: rgb(14, 46, 223);
    font-weight: bold;
}

.grid-container {
    margin: 20px;
    border: 2px solid rgb(14, 46, 223);
    min-width: 840px;
}

.grid {
    padding: 20px;
    min-height: 800px;
    min-width: 800px;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}



